* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #e0e0e0;
    font-family: 'roboto', sans-serif;
}

@font-face {
    font-family: "font-logo";
    src: url('font/CONFN.TTF');
}

@font-face {
    font-family: "nyala";
    src: url('font/nyala.ttf');
}

@font-face {
    font-family: "sunday";
    src: url(font/sunday.otf)
}

a {
    text-decoration: none;
}

/*modal notif*/
div.notif_bg {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.596);
    position: fixed;
    display: flex;
    top: 0;
    z-index: 3;
    justify-content: center;
    align-items: center;
    overflow: auto;
    display: none;
}

.notif_konten {
    width: 40%;
    height: 250px;
    border-radius: 10px;
    background: white;
    opacity: .95;
}

div.footerpop {
    width: 100%;
    height: 60px;
    border-radius: 10px 10px 0 0;
    background: #fafdff;
    box-shadow: 0px 0px 5px #afabab;
}

h2.chat {
    padding: 20px;
}

div.konten_chat {
    display: grid;
    grid-template-columns: 10% 90%;
}

.grid_chat {
    padding: 15px;
}

.grid_chat img {
    width: 50px;
    border-radius: 50%;
}

.grid_chat h2 {
    font-size: 17pt;
    color: #252525;
}

.grid_chat p {
    margin: 5px 0;
    font-size: 12pt;
    color: #252525;
}

/*Modal Login*/
div.login_bg {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.596);
    position: fixed;
    display: flex;
    top: 0;
    z-index: 3;
    justify-content: center;
    align-items: center;
    display: none;
    overflow: auto;
}

.login_konten {
    width: 40%;
    height: 450px;
    border-radius: 10px;
    background: white;
    opacity: .95;
}

.tutup {
    float: right;
    margin-right: 10px;
    font-size: 35pt;
    cursor: pointer;
    transform: rotate(45deg);
}

.animasi {
    animation: zoom 0.6s;
}

@keyframes zoom {
    from {
        transform: scale(0)
    }

    to {
        transform: scale(1)
    }
}

.tutup:hover {
    color: red;
}

img.logon {
    width: 55%;
    transform: translate(40%);
    margin: 40px 0;
}

div.login-form {
    margin: auto;
    position: relative;
    left: 10%;
}

div.input-box {
    position: relative;
}

input.user,
input.pass {
    padding: 5px 0;
    font-size: 15pt;
    color: black;
    margin-bottom: 25px;
    border: none;
    border-bottom: 1px solid #b9b9b9;
    background: transparent;
    width: 80%;
    outline: none;
}

.login-form .input-box label {
    top: 0;
    left: 0;
    position: absolute;
    color: #302e2e;
    font-size: 15pt;
    padding: 5px 0;
    pointer-events: none;
    transition: 0.5s;
}

.login-form .input-box input:focus~label,
.login-form .input-box input:valid~label {
    top: -25px;
    color: #358ac7;
    font-size: 12pt;
}

span.cek {
    color: #302e2e;
    font-family: nyala;
    font-size: 15pt;
}

.button {
    width: 80%;
    padding: 7px 20px;
    font-family: nyala;
    font-size: 15pt;
    border: none;
    color: white;
    background-color: #4989d3f8;
    border-radius: 10px;
    margin-top: 20px;
    cursor: pointer;
}

.button:hover {
    color: #ffffff;
    background-color: #2b6db8f8;
    box-shadow: 0px 0px 10px #302e2e;
    transition: 0.5s;
}

p.register {
    margin-top: 20px;
    text-align: center;
    transform: translate(-10%);
    color: black;
    font-family: nyala;
    font-size: 15pt;
}

p.register a {
    text-decoration: none;
    color: #4989d3f8;
}

p.register a:hover {
    color: #2b6db8f8;
}

/*Modal Register*/
div.register_bg {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.596);
    position: fixed;
    display: flex;
    top: 0;
    z-index: 2;
    justify-content: center;
    align-items: center;
    display: none;
}

.register_konten {
    width: 40%;
    height: 470px;
    border-radius: 10px;
    background: white;
    opacity: .95;
}

div.register-form {
    margin: auto;
    position: relative;
    left: 10%;
}

div.input-box {
    position: relative;
}

input.username,
input.password {
    padding: 5px 0;
    font-size: 15pt;
    color: #302e2e;
    margin-bottom: 24px;
    border: none;
    border-bottom: 1px solid #302e2e;
    background: transparent;
    width: 80%;
    outline: none;
}

.register-form .input-box label {
    top: 0;
    left: 0;
    position: absolute;
    color: #302e2e;
    font-size: 15pt;
    padding: 5px 0;
    pointer-events: none;
    transition: 0.5s;
}

.register-form .input-box input:focus~label,
.register-form .input-box input:valid~label {
    top: -25px;
    color: #4989d3cc;
    font-size: 12pt;
}

p.login {
    margin-top: 20px;
    text-align: center;
    transform: translate(-10%);
    color: #302e2e;
    font-family: nyala;
    font-size: 15pt;
}

p.login a {
    text-decoration: none;
    color: #4989d3f8;
}

p.login a:hover {
    color: #2b6db8f8;
}

/*back to top*/
div.backTop {
    width: 60px;
    height: 60px;
    bottom: 10px;
    right: 10px;
    border-radius: 100%;
    position: fixed;
    background: #3589B2;
    text-align: center;
    z-index: 1;
}

.backTop img {
    margin-top: 12px;
}

.backTop:hover {
    cursor: pointer;
    background: rgb(240, 57, 81);
}

/*popup keranjang*/
div.popup {
    width: 100%;
    height: 100%;
    background: transparent;
    position: fixed;
    display: none;
    z-index: 2;
}

.popup_konten {
    width: 45%;
    height: 90px;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.877);
    opacity: .95;
    position: relative;
    top: 35%;
    left: 30%;
}

.ceklis {
    color: white;
    font-size: 14pt;
    text-align: center;
    line-height: 30px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #356d88;
    position: relative;
    top: 35%;
    left: 20px;
}

.kata {
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 12pt;
    line-height: 30px;
    margin-left: 60px;
}

.pencet {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 11pt;
    padding: 5px;
    background: #356d88;
    width: 22%;
    height: 40px;
    color: white;
    border: none;
    border-radius: 5px;
    float: right;
    margin-top: -35px;
    margin-right: 20px;
    cursor: pointer;
}

/*popup gambar*/
.gambar_bg1,
.gambar_bg2,
.gambar_bg3,
.gambar_bg4,
.gambar_bg5 {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.596);
    position: fixed;
    top: 0;
    z-index: 1;
    display: none;
}

.gambar_bg4 img,
.gambar_bg5 img {
    width: 40%;
    position: relative;
    top: 30%;
    left: 30%;
}

.gambar_popup {
    width: 40%;
    position: relative;
    top: 15%;
    left: 30%;
}

/*navbar*/
nav {
    position: sticky;
    top: 0;
    z-index: 1;
    box-shadow: 0px 0px 2px;
}

nav ul {
    width: 100%;
    height: 70px;
    background-image: url('background/navbar.png');
    background-size: cover;
    border-bottom: 2px solid #125060;
}

nav li {
    float: left;
    list-style: none;
    text-align: center;
}

nav li a {
    text-decoration: none;
}

/*bagian logo*/
img.logo {
    margin-top: 10px;
    margin-left: 25px;
    float: left;
    width: 45px;
}

li.telu {
    color: white;
    font-family: sunday;
    margin-top: 18px;
    font-size: 26pt;
    margin-left: 5px;
}

/*bagian logo*/

/*pencarian*/
li.cari {
    margin-left: 35px;
}

input.cari {
    border: none;
    background: white;
    width: 480px;
    height: 35px;
    float: left;
    margin-top: 18px;
    padding: 10px;
    box-shadow: 0px 0px 1px whitesmoke;
}

img.cari {
    width: 35px;
    height: 35px;
    margin-top: 18px;
    float: left;
    box-shadow: 0px 0px 1px whitesmoke;
}

/*pencarian*/

/*bagian icon di navbar*/
img.nav {
    width: 25px;
    margin-left: -5px;
}

p.nav {
    color: white;
    font-size: 15pt;
    margin-left: -20px;
    margin-top: 2px;
    font-family: nyala;
}

div.dereticon {
    width: 105px;
    margin: 15px;
    padding: 5px;
    margin-left: 0px;
    margin-top: 20px;
    display: grid;
    grid-template-columns: 50% 50%;
}

div.dereticon:hover {
    border-bottom: 3px solid #356d88;
}

li.dereticon {
    margin-left: 10px;
    margin-right: 0px;
    float: right;
}

div.login {
    height: 55px;
    width: 100%;
    margin-top: 10px;
    margin-right: 10px;
    padding-left: 15px;
    border-left: 3px solid #356d88;
}

img.login {
    width: 45px;
    margin-right: 10px;
    margin-top: 5px;
}

li.login {
    float: right;
    height: 70px;
}

ul.dropdown {
    width: 140px;
    height: 100px;
    position: absolute;
    margin-top: 6px;
    right: 0;
    display: none;
    background: none;
    box-shadow: -2px 2px 5px #252525;
}

li.login:hover ul.dropdown {
    display: block;
}

li.dropdown {
    width: 100%;
    height: 50px;
    background: #125060;
    cursor: pointer;
}

li.dropdown:hover {
    background: #265d70;
}

.dropdown a {
    text-decoration: none;
    color: white;
    font-family: nyala;
    font-size: 17pt;
    line-height: 50px;
}

/*bagian icon di navbar*/

/* produk */
div.body {
    width: 98%;
    margin: auto;
    margin-top: 15px;
    border-radius: 10px;
    background: white;
}

div.content {
    width: 100%;
    padding-top: 10px;
    display: grid;
    grid-template-columns: 30% 50% 20%;
}

div.produk {
    margin: 3%;
    width: 90%;
    height: 28vw;
    background-color: #f2fbfc;
    box-shadow: 0px 0px 5px #b9b9b9;
}

div.deskripsi {
    margin: 3%;
    width: 90%;
    height: 300px;
    background-color: #f2fbfc;
    box-shadow: 0px 0px 5px #b9b9b9;
}

img#gambar_utama {
    width: 90%;
    margin-left: 15px;
    cursor: pointer;
}

img#gambar_produk {
    width: 15%;
    height: 50px;
    margin-left: 7%;
    cursor: pointer;
}

h1.nama_produk {
    margin-top: 15px;
    text-align: center;
    font-size: 20pt;
}

div.bintang {
    margin-left: 4%;
    display: inline-block;
}

img#bintang {
    width: 4%;
}

p#percen {
    display: inline;
    font-size: 10pt;
}

p#discon {
    text-align: center;
    display: inline-block;
    background-color: red;
    color: white;
    width: 44px;
    height: 22px;
    border-radius: 5px;
}

p#harga {
    display: inline-block;
    text-decoration: line-through;

}

p#harga_discon {
    font-size: 20pt;
    margin: 10px;
}

#beli {
    cursor: pointer;
    background: #0e6c6d;
    color: white;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 5px solid #0c4c57;
    padding: 10px 20px;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 11pt;
}

.tombol {
    margin-left: 42px;
    margin-top: 24px;
}

.infor_produk {
    display: inline-block;
    margin: auto;
    height: 50px;
    width: 90%;
    border-radius: 10pt;
    border: #0e6c6d 2px solid;
    margin-top: 18px;
}

.icon_ket {
    margin-top: 12px;
    margin-left: 14px;
    display: inline-block;
}

#icon_ket {
    display: inline-block;
    height: 20px;
    width: 34px;
}

#tulis {
    display: inline-block;
    font-size: 9pt;
}

div.aside {
    margin: 3%;
    width: 90%;
    height: 465px;
    background-color: #f2fbfc;
    box-shadow: 0px 0px 5px #b9b9b9;
}

#toko {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-top: 42px;
}

.star_toko {
    display: inline-block;
}

#star_toko {
    width: 25px;
    height: 25px;
}

.lokasi {
    display: block;
    margin-top: 18px;
}

#lokasi {
    display: inline-block;
    width: 25px;
    height: 35px;
}

#informasi_toko {
    margin-left: 24px;
    margin-top: 26px;
}

#informasi_toko p {
    font-size: 9pt;
    margin-top: 12px;
}

#Follow {
    cursor: pointer;
    margin-top: 10px;
    display: block;
    background: #0e6c6d;
    color: white;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 5px solid #0c4c57;
    padding: 10px 20px;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 11pt;
}

.comment {
    height: auto;
}

.icon {
    margin-top: 12px;
    padding-bottom: 10px;
    border-bottom: 1px solid grey;
}

#tulisan_infor {
    display: inline-block;
    margin-left: 17px;
    padding-right: 15px;
    border-right: 2px solid black;
    cursor: pointer;
}

#tulisan_diskusi {
    display: inline-block;
    margin-left: 17px;
    padding-right: 15px;
    border-right: 2px solid black;
    cursor: pointer;
}

#tulisan_review {
    display: inline-block;
    margin-left: 17px;
    padding-right: 15px;
    cursor: pointer;
}

#gambar_task {
    width: 20px;
    height: 25px;
}

.informasi_produk {
    margin: 0 16px;
    margin-top: 10px;
}

.diskusi {
    display: none;
}

.tanya {
    width: 80%;
    height: 75px;
    transform: translate(17%);
    display: inline-block;
    margin-top: 10px;
}

.diskusi .tanya img {
    display: inline-block;
}

.diskusi .tanya p {
    display: inline-block;
}

#pertanyaan {
    margin-top: 10px;
    display: inline-block;
    background: #0e6c6d;
    color: white;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 5px solid #0c4c57;
    padding: 10px 20px;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 11pt;
    margin-left: 258px;
}

.nanya {
    width: 80%;
    transform: translate(10%);
    padding: 10px;
    border-bottom: 2px solid grey;
}

#orang {
    display: inline-block;
    border-right: 2px solid black;
    padding-right: 19px;
}

.nanya img {
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50% 50%;
}

.nanya p {
    display: inline-block;
    margin-left: 61px;
}

/*jawab*/
.jawab {
    width: 80%;
    margin-top: 20px;
    transform: translate(20%);
}

.jawab img {
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50% 50%;
}

.jawab p {
    display: inline-block;
    margin-left: 61px;
}

/*review */
.review {
    display: none;
}

.bintang1 {
    display: inline-block;
    margin-left: 30px;
    margin-top: 10px;
}

img#bintang1 {
    width: 3%;
}

.review h6 {
    margin-left: 50px;
}

.review p {
    margin-left: 80px;
}

/*footer*/
footer {
    width: 100%;
    margin: auto;
    height: 570px;
    background: #194358;
}

div.foot {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: auto;
}

div.grid4 {
    width: 80%;
    height: 400px;
}

h3.foot1 {
    color: #fafdff;
    font-size: 18pt;
    margin: 50px;
}

p.foot1 {
    color: #fafdff;
    font-size: 14pt;
    margin: 10px;
    padding-left: 40px;
}

p#foot1 {
    margin-top: -30px;
}

hr.garisbawah {
    width: 85%;
    margin: auto;
    margin-top: 10px;
}

div.footbawah {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: auto;
}

div.grid2 {
    width: 80%;
    height: 150px;
    margin: auto;
}

.footbawah {
    line-height: 150px;
    text-align: center;
}

p.footbawah {
    color: #d6d7d8;
    font-size: 13pt;
    text-align: left;
}

h1.footbawah {
    color: #d6d7d8;
    font-family: sunday;
    font-size: 26pt;
}

/*Responsive*/
@media only screen and (max-width: 1255px) {

    /*logo*/
    img.logo {
        width: 35px;
        margin-top: 20px;
    }

    li.telu {
        font-size: 20pt;
        margin-top: 24px;
    }

    /*pencarian*/
    input.cari {
        width: auto;
        width: 300px;
    }

    /*popup keranjang*/
    .popup_konten {
        width: 50%;
        left: 25%;
    }

    /*produk*/
    div.produk {
        height: 80%;
    }

    /*footer*/
    p.footbawah {
        font-size: 10pt;
    }
}

@media screen and (max-width: 1240px) {

    /*produk*/
    div.produk {
        height: 80%;
    }

    .tanya p {
        font-size: 11px;
    }

    #pertanyaan {
        margin-left: 170px;
    }
}

@media screen and (max-width: 1154px) {

    /*popup keranjang*/
    .popup_konten {
        width: 55%;
        left: 20%;
    }

    /*produk*/
    #icon_ket {
        height: 16px;
        width: 18px;
    }
}

@media only screen and (max-width: 1090px) {

    /*pop up notif*/
    .notif_konten {
        width: 70%;
    }
}

@media screen and (max-width: 1057px) {

    /*produk*/
    div.produk {
        height: 70%;
    }

    #tulis {
        font-size: 7pt;
    }

    #beli {
        font-size: 9pt;
    }
}

@media only screen and (max-width: 1040px) {

    /*popup keranjang*/
    .popup_konten {
        width: 60%;
        left: 20%;
    }

    /*footer*/
    div.foot {
        grid-template-columns: repeat(2, 1fr);
    }

    div.grid4 {
        height: 360px;
    }

    footer {
        height: 880px;
    }

    /*modal pop up*/
    .login_konten {
        width: 50%;
    }

    .register_konten {
        width: 50%;
    }
}

@media only screen and (max-width: 1025px) {

    /*logo*/
    img.logo {
        width: 0px;
    }

    li.telu {
        font-size: 0pt;
    }

    /*pencarian*/
    input.cari {
        width: auto;
        width: 280px;
        margin-left: -20px;
    }

    div.login {
        height: 40px;
        margin-top: 15px;
    }

    img.login {
        width: 35px;
        margin-top: 5px;
    }

    /*icon di navbar*/
    li.dereticon {
        margin-left: 0;
        margin-right: -5px;
    }

    /*Dropdown*/
    ul.dropdown {
        margin-top: 13px;
    }
}

@media only screen and (max-width: 935px) {

    /*popup keranjang*/
    .popup_konten {
        width: 65%;
        left: 15%;
    }

    /*produk*/
    div.produk {
        height: 70%;
    }

    /*footer*/
    div.grid2 {
        width: 100%;
    }

    p.footbawah {
        font-size: 9pt;
    }
}

@media screen and (max-width: 934px) {

    /*produk*/
    .tanya p {
        font-size: 11px;
    }

    #pertanyaan {
        font-size: 9pt;
        margin-left: 150px;
    }

    #Follow {
        margin-top: 5px;
        font-size: 8pt;
    }
}

@media screen and (max-width: 900px) {

    /*produk*/
    div.produk {
        height: 60%;
    }

    #informasi_toko p {
        font-size: 8pt;
        margin-top: 5px;
    }

    #star_toko {
        width: 15px;
        height: 16px;
    }

    .aktif p {
        font-size: 10px;
    }
}

@media screen and (max-width: 870px) {

    /*popup keranjang*/
    .popup_konten {
        width: 70%;
        left: 12%;
    }

    /*produk*/
    div.produk {
        height: 60%;
    }

    #beli {
        font-size: 7pt;
    }

    .bintang {
        font-size: 14px;
    }

    #icon_ket {
        height: 10px;
        width: 14px;
    }

    h1.nama_produk {
        font-size: 16pt;
    }

    .tanya p {
        font-size: 9px;
    }

    #gambar_task {

        width: 14px;
        height: 19px;
    }

    #pertanyaan {
        font-size: 7pt;
        margin-left: 100px
    }

    .nanya img {
        width: 40px;
        height: 40px;
    }

    .nanya p {
        font-size: 13px;
    }

    .jawab img {
        width: 40px;
        height: 40px;
    }

    .jawab p {
        font-size: 13px;
    }
}

@media screen and (max-width: 830px) {

    /*popup keranjang*/
    .popup_konten {
        width: 75%;
        left: 12%;
    }

    /*produk*/
    div.produk {
        height: 55%;
    }

    #tulis {
        font-size: 5pt;
    }

    #toko {
        width: 70px;
        height: 70px;
    }

    h1.nama_produk {
        font-size: 12pt;
    }

    .bintang p {
        font-size: 13px;
    }
}

@media only screen and (max-width: 780px) {

    /*pop up notif*/
    .notif_konten {
        width: 80%;
    }

    /*nav*/
    nav ul {
        height: 120px;
        background: #125060;
    }

    input.cari {
        width: 650px;
    }

    li.dereticon {
        margin: auto;
    }

    .konten img {
        width: 70%;
    }

    /*modal pop up*/
    .login_konten {
        width: 60%;
    }

    .register_konten {
        width: 60%;
    }

    /*popup keranjang*/
    .popup_konten {
        width: 80%;
        left: 10%;
    }

    /*pop up produk*/
    .gambar_popup {
        width: 50%;
        top: 20%;
        left: 25%;
    }

    .gambar_bg4 img,
    .gambar_bg5 img {
        width: 60%;
        top: 30%;
        left: 20%;
    }

    /*footer*/
    div.grid2 {
        width: 110%;
    }
}

@media screen and (max-width: 746px) {

    /*produk*/
    #beli {
        padding: 7px 10px;
        font-size: 5pt;
    }

    p#harga_discon {
        font-size: 15pt;
    }

    p#percen {
        font-size: 7pt;
    }

    #Follow {
        margin-top: 5px;
        font-size: 4pt;
        padding: 6px 13px;
    }
}

@media only screen and (max-width: 740px) {
    li.cari {
        width: 90%;
        margin: 0;
    }

    input.cari {
        width: 90%;
        margin-left: 0px;
    }

    /*popup keranjang*/
    .popup_konten {
        width: 75%;
        left: 12%;
    }

    .ceklis {
        line-height: 25px;
        width: 25px;
        height: 25px;
    }

    .kata {
        font-size: 11pt;
        line-height: 30px;
        margin-top: 5px;
        margin-left: 50px;
    }

    .pencet {
        padding: 5px;
        width: 20%;
        margin-top: -30px;
        height: 30px;
        font-size: 9pt;
    }
}

@media screen and (max-width: 686px) {

    /*popup keranjang*/
    .popup_konten {
        width: 80%;
        left: 10%;
    }

    /*produk*/
    .infor_produk {
        height: 68px;
    }

    div.produk {
        height: auto;
    }

    div.content {
        display: block;
    }

    div.aside {
        width: 92%;
        height: 495px;
    }

    #toko {
        width: 100px;
        height: 100px;
    }

    #follow {
        margin-top: 5px;
        font-size: 9pt;
    }
}

@media only screen and (max-width: 650px) {

    /*popup notif*/
    div.konten_chat {
        display: grid;
        grid-template-columns: 15% 85%;
    }
}

@media only screen and (max-width: 620px) {

    /*popup notif*/
    .notif_konten {
        height: 260px;
    }

    /*modal pop up*/
    .login_konten {
        width: 70%;
    }

    .register_konten {
        width: 70%;
    }

    /*popup keranjang*/
    .popup_konten {
        width: 85%;
        left: 7%;
    }

    .ceklis {
        line-height: 25px;
        width: 25px;
        height: 25px;
    }

    .kata {
        font-size: 11pt;
        line-height: 30px;
        margin-top: 5px;
        margin-left: 50px;
    }

    .pencet {
        padding: 5px;
        width: 20%;
        margin-top: -30px;
        height: 30px;
        font-size: 9pt;
    }

    /*footer*/
    div.footbawah {
        grid-template-columns: repeat(1, 1fr);
    }

    div.grid2 {
        margin-left: -20px;
    }

    .pake {
        display: none;
    }

    p.footbawah {
        color: #d6d7d8;
        font-size: 13pt;
        text-align: center;
    }
}

@media only screen and (max-width: 600px) {

    /*popup keranjang*/
    .popup_konten {
        width: 85%;
        height: 60px;
        left: 7%;
    }

    .ceklis {
        line-height: 20px;
        width: 20px;
        height: 20px;
        font-size: 11pt;
    }

    .kata {
        font-size: 9pt;
        line-height: 10px;
        margin-left: 50px;
    }

    .pencet {
        padding: 5px;
        width: 20%;
        margin-top: -20px;
        height: 30px;
        font-size: 8pt;
    }

    /*footer*/
    p.foot1 {
        font-size: 10pt;
    }
}

@media only screen and (max-width: 540px) {

    /*modal pop up*/
    .login_konten {
        width: 80%;
    }

    .register_konten {
        width: 80%;
    }
}

@media only screen and (max-width: 500px) {

    /*popup keranjang*/
    .popup_konten {
        width: 90%;
        height: 60px;
        left: 5%;
    }

    /*pop up produk*/
    .gambar_popup {
        width: 75%;
        top: 20%;
        left: 13%;
    }

    .gambar_bg4 img,
    .gambar_bg5 img {
        width: 80%;
        top: 30%;
        left: 10%;
    }
}

@media only screen and (max-width: 490px) {

    /*notif popup*/
    .notif_konten {
        height: 270px;
    }

    div.konten_chat {
        display: grid;
        grid-template-columns: 17% 83%;
    }
}

@media only screen and (max-width: 440px) {

    /*popup keranjang*/
    div.popup {
        display: none;
    }

    /*Navbar*/
    nav ul {
        height: 120px;
    }

    li.cari {
        width: 90%;
        margin: 0;
    }

    input.cari {
        width: 85%;
        margin-left: -10px;
    }

    div.dereticon {
        width: 70px;
        margin: 0;
        margin-top: 20px;
    }

    div.dereticon:hover {
        border: none;
    }

    p.nav {
        display: none;
    }

    /*modal pop up*/
    .login_konten {
        width: 90%;
    }

    .register_konten {
        width: 90%;
    }

    /*footer*/
    footer {
        height: 760px;
    }

    div.foot {
        margin: 0;
    }

    p.foot1 {
        font-size: 10pt;
        text-align: left;
    }

    div.grid2 {
        display: none;
    }

    p.footbawah {
        display: none;
    }
}

@media screen and (max-width: 400px) {

    /*produk*/
    #tulisan_infor {
        font-size: 11px;
    }

    #tulisan_review {
        font-size: 11px;
    }

    #tulisan_diskusi {
        font-size: 11px;
    }

    .tanya {
        width: 63%;
    }

    #pertanyaan {
        padding: 3px 6px;
        font-size: 5pt;
        margin-left: 100px;
    }

    .jawab p {
        font-size: 9px;
    }

    #gambar_task {
        width: 10px;
        height: 15px;
    }
}

@media only screen and (max-width: 380px) {

    /*popup notif*/
    .notif_konten {
        height: 275px;
    }

    div.konten_chat {
        display: grid;
        grid-template-columns: 20% 80%;
    }

    /*modal pop up*/
    .login_konten {
        width: 95%;
    }

    .register_konten {
        width: 95%;
    }

    /*footer*/
    footer {
        height: 1060px;
    }

    div.foot {
        grid-template-columns: repeat(1, 1fr);
    }

    div.grid4 {
        height: 300px;
        margin: auto;
    }

    p.foot1 {
        font-size: 11pt;
    }

    div.atur {
        margin-top: -100px;
    }

    div.atur2 {
        margin-top: -50px;
    }
}

@media only screen and (max-width: 350px) {

    .notif_konten {
        height: 280px;
    }

    div.konten_chat {
        grid-template-columns: 25% 75%;
    }

    .grid_chat p {
        font-size: 10pt;
    }
}