* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #e0e0e0;
    font-family: 'roboto', sans-serif;
}

@font-face {
    font-family: "font-logo";
    src: url('font/CONFN.TTF');
}

@font-face {
    font-family: "nyala";
    src: url('font/nyala.ttf');
}

@font-face {
    font-family: "sunday";
    src: url(font/sunday.otf)
}

a {
    text-decoration: none;
}

/*modal notif*/
div.notif_bg {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.596);
    position: fixed;
    display: flex;
    top: 0;
    z-index: 3;
    justify-content: center;
    align-items: center;
    overflow: auto;
    display: none;
}

.notif_konten {
    width: 40%;
    height: 250px;
    border-radius: 10px;
    background: white;
    opacity: .95;
}

div.footerpop {
    width: 100%;
    height: 60px;
    border-radius: 10px 10px 0 0;
    background: #fafdff;
    box-shadow: 0px 0px 5px #afabab;
}

h2.chat {
    padding: 20px;
}

div.konten_chat {
    display: grid;
    grid-template-columns: 10% 90%;
}

.grid_chat {
    padding: 15px;
}

.grid_chat img {
    width: 50px;
    border-radius: 50%;
}

.grid_chat h2 {
    font-size: 17pt;
    color: #252525;
}

.grid_chat p {
    margin: 5px 0;
    font-size: 12pt;
    color: #252525;
}

/*Modal Login*/
div.login_bg {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.596);
    position: fixed;
    display: flex;
    top: 0;
    z-index: 3;
    justify-content: center;
    align-items: center;
    display: none;
    overflow: auto;
}

.login_konten {
    width: 40%;
    height: 450px;
    border-radius: 10px;
    background: white;
    opacity: .95;
}

.tutup {
    float: right;
    margin-right: 10px;
    font-size: 35pt;
    cursor: pointer;
    transform: rotate(45deg);
}

.animasi {
    animation: zoom 0.6s;
}

@keyframes zoom {
    from {
        transform: scale(0)
    }

    to {
        transform: scale(1)
    }
}

.tutup:hover {
    color: red;
}

img.logon {
    width: 55%;
    transform: translate(40%);
    margin: 40px 0;
}

div.login-form {
    margin: auto;
    position: relative;
    left: 10%;
}

div.input-box {
    position: relative;
}

input.user,
input.pass {
    padding: 5px 0;
    font-size: 15pt;
    color: black;
    margin-bottom: 25px;
    border: none;
    border-bottom: 1px solid #b9b9b9;
    background: transparent;
    width: 80%;
    outline: none;
}

.login-form .input-box label {
    top: 0;
    left: 0;
    position: absolute;
    color: #302e2e;
    font-size: 15pt;
    padding: 5px 0;
    pointer-events: none;
    transition: 0.5s;
}

.login-form .input-box input:focus~label,
.login-form .input-box input:valid~label {
    top: -25px;
    color: #358ac7;
    font-size: 12pt;
}

span.cek {
    color: #302e2e;
    font-family: nyala;
    font-size: 15pt;
}

.button {
    width: 80%;
    padding: 7px 20px;
    font-family: nyala;
    font-size: 15pt;
    border: none;
    color: white;
    background-color: #4989d3f8;
    border-radius: 10px;
    margin-top: 20px;
    cursor: pointer;
}

.button:hover {
    color: #ffffff;
    background-color: #2b6db8f8;
    box-shadow: 0px 0px 10px #302e2e;
    transition: 0.5s;
}

p.register {
    margin-top: 20px;
    text-align: center;
    transform: translate(-10%);
    color: black;
    font-family: nyala;
    font-size: 15pt;
}

p.register a {
    text-decoration: none;
    color: #4989d3f8;
}

p.register a:hover {
    color: #2b6db8f8;
}

/*Modal Register*/
div.register_bg {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.596);
    position: fixed;
    display: flex;
    top: 0;
    z-index: 2;
    justify-content: center;
    align-items: center;
    display: none;
}

.register_konten {
    width: 40%;
    height: 470px;
    border-radius: 10px;
    background: white;
    opacity: .95;
}

div.register-form {
    margin: auto;
    position: relative;
    left: 10%;
}

div.input-box {
    position: relative;
}

input.username,
input.password {
    padding: 5px 0;
    font-size: 15pt;
    color: #302e2e;
    margin-bottom: 24px;
    border: none;
    border-bottom: 1px solid #302e2e;
    background: transparent;
    width: 80%;
    outline: none;
}

.register-form .input-box label {
    top: 0;
    left: 0;
    position: absolute;
    color: #302e2e;
    font-size: 15pt;
    padding: 5px 0;
    pointer-events: none;
    transition: 0.5s;
}

.register-form .input-box input:focus~label,
.register-form .input-box input:valid~label {
    top: -25px;
    color: #4989d3cc;
    font-size: 12pt;
}

p.login {
    margin-top: 20px;
    text-align: center;
    transform: translate(-10%);
    color: #302e2e;
    font-family: nyala;
    font-size: 15pt;
}

p.login a {
    text-decoration: none;
    color: #4989d3f8;
}

p.login a:hover {
    color: #2b6db8f8;
}

/*back to top*/
div.backTop {
    width: 60px;
    height: 60px;
    bottom: 10px;
    right: 10px;
    border-radius: 100%;
    position: fixed;
    background: #3589B2;
    text-align: center;
    z-index: 1;
}

.backTop img {
    margin-top: 12px;
}

.backTop:hover {
    cursor: pointer;
    background: rgb(240, 57, 81);
}

/*navbar*/
nav {
    position: sticky;
    top: 0;
    z-index: 1;
    box-shadow: 0px 0px 2px;
}

nav ul {
    width: 100%;
    height: 70px;
    background-image: url('background/navbar.png');
    background-size: cover;
    border-bottom: 2px solid #125060;
}

nav li {
    float: left;
    list-style: none;
    text-align: center;
}

nav li a {
    text-decoration: none;
}

/*bagian logo*/
img.logo {
    margin-top: 10px;
    margin-left: 25px;
    float: left;
    width: 45px;
}

li.telu {
    color: white;
    font-family: sunday;
    margin-top: 18px;
    font-size: 26pt;
    margin-left: 5px;
}

/*bagian logo*/

/*pencarian*/
li.cari {
    margin-left: 35px;
}

input.cari {
    border: none;
    background: white;
    width: 480px;
    height: 35px;
    float: left;
    margin-top: 18px;
    padding: 10px;
    box-shadow: 0px 0px 1px whitesmoke;
}

img.cari {
    width: 35px;
    height: 35px;
    margin-top: 18px;
    float: left;
    box-shadow: 0px 0px 1px whitesmoke;
}

/*pencarian*/

/*bagian icon di navbar*/
img.nav {
    width: 25px;
    margin-left: -5px;
}

p.nav {
    color: white;
    font-size: 15pt;
    margin-left: -20px;
    margin-top: 2px;
    font-family: nyala;
}

div.dereticon {
    width: 105px;
    margin: 15px;
    padding: 5px;
    margin-left: 0px;
    margin-top: 20px;
    display: grid;
    grid-template-columns: 50% 50%;
}

div.dereticon:hover {
    border-bottom: 3px solid #356d88;
}

li.dereticon {
    margin-left: 10px;
    margin-right: 0px;
    float: right;
}

div.login {
    height: 55px;
    width: 100%;
    margin-top: 10px;
    margin-right: 10px;
    padding-left: 15px;
    border-left: 3px solid #356d88;
}

img.login {
    width: 45px;
    margin-right: 10px;
    margin-top: 5px;
}

li.login {
    float: right;
    height: 70px;
}

ul.dropdown {
    width: 140px;
    height: 100px;
    position: absolute;
    margin-top: 6px;
    right: 0;
    display: none;
    background: none;
    box-shadow: -2px 2px 5px #252525;
}

li.login:hover ul.dropdown {
    display: block;
}

li.dropdown {
    width: 100%;
    height: 50px;
    background: #125060;
    cursor: pointer;
}

li.dropdown:hover {
    background: #265d70;
}

.dropdown a {
    text-decoration: none;
    color: white;
    font-family: nyala;
    font-size: 17pt;
    line-height: 50px;
}

/*bagian icon di navbar*/

/*konten*/
div.body {
    width: 100%;
    margin: auto;
    background: #fafdff;
    padding-top: 30px;
}

div.content {
    display: grid;
    grid-template-columns: 68% 30%;
}

/*chekbox awal */
.isi {
    height: 560px;

}

#isi {
    transform: translate(10%);
    display: inline-block;
    width: 79%;
}

.produk {
    display: inline-block;
    width: 65%;
    margin-top: 26px;
    height: 40px;
    box-shadow: 1px 1px 5px #afabab;
    border-radius: 10px;
}

.produk p {
    display: inline-block;
    margin-left: 22px;

}

.form-checkbox {
    margin-left: 11px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: inline-block;
    position: relative;
    background-color: #b0d5dc;
    color: #ffffff;
    top: 10px;
    height: 20px;
    width: 20px;
    border: 0;
    border-radius: 50px;
    cursor: pointer;
    margin-right: 7px;
    outline: none;
}

.form-checkbox:checked::before {
    margin-left: 1px;
    position: absolute;
    font: 12px/0 'Open Sans', sans-serif;
    left: 6px;
    top: 10px;
    content: '\02143';
    transform: rotate(40deg);
}

.form-checkbox:hover {
    margin-left: 11px;
    background-color: #5ecfff;
    float: left;
}

.form-checkbox:checked {
    margin-left: 11px;
    background-color: #377691;
    float: left;
}

label {
    font: 300 21px/1.7 'Open Sans', sans-serif;
    color: #666;
    cursor: pointer;
}

.barang {
    margin-top: 20px;
    box-shadow: 1px 1px 5px #afabab;
    border-radius: 10px;
}

#penjual {
    border-bottom: 1px solid grey;
    padding-bottom: 6px;
}

.barang1 {
    float: left;
}

.barang2 {
    margin-left: 25px;
    display: inline-block;
    width: 90%;
}

.barang2 img {
    float: left;
    width: 78px;
    height: 78px;
    margin-left: -18px;
    margin-top: 12px;
}

.barang2 div {
    margin-left: 76px;
    margin-top: 14px;
}

#myform {
    text-align: center;
    padding: 5px;
    border: 1px dotted #ccc;
    margin: 5%;
}

.qty {
    width: 40px;
    height: 25px;
    text-align: center;
    border: none;
}

input.qtyplus {
    width: 25px;
    height: 25px;
    border: none;
    cursor: pointer;
}

input.qtyminus {
    width: 25px;
    height: 25px;
    border: none;
    cursor: pointer;
}

#myform1 {
    text-align: center;
    padding: 5px;
    border: 1px dotted #ccc;
    margin: 5%;
}

.qty1 {
    width: 40px;
    height: 25px;
    text-align: center;
    border: none;
}

input.qtyplus1 {
    width: 25px;
    height: 25px;
    border: none;
    cursor: pointer;
}

input.qtyminus1 {
    width: 25px;
    height: 25px;
    border: none;
    cursor: pointer;
}

.form {
    display: inline-block;
}

#catatan {
    cursor: pointer;
}

#tambah {
    width: 300px;
    height: 40px;
    display: none;
    border: none;
    padding: 5px 10px;
    margin: 10px 0;
    box-shadow: 1px 1px 6px #aaaaaa;
}

/* ringkasan belanja */
.bayar {
    margin-top: 28px;
    display: inline-block;
    width: 90%;
    box-shadow: 1px 1px 5px #afabab;
    height: 260px;
    border-radius: 10px;

}

.belanja {
    padding-bottom: 10px;
    padding-top: 10px;
}

.belanja h4 {
    font-size: 14pt;
    text-align: center;
}

.total {
    padding-top: 15px;
    margin-left: 9px;
}

#harga {
    float: right;
    margin-right: 7px;
    font-weight: bold;
}

#Follow {
    width: 90%;
    margin-top: 35px;
    display: block;
    background: #0e6c6d;
    color: white;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 5px solid #0c4c57;
    padding: 10px 20px;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 16pt;
    cursor: pointer;
}

.kupon {
    padding: 19px;
}

.kupon p {
    cursor: pointer;
    color: #265d70;
    font-family: sans-serif;
    font-weight: bold;
    margin: 10px 0;
}

.kupon {
    width: 90%;
    padding: 4px;
}

/*footer*/
footer {
    width: 100%;
    margin: auto;
    height: 570px;
    background: #194358;
}

div.foot {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: auto;
}

div.grid4 {
    width: 80%;
    height: 400px;
}

h3.foot1 {
    color: #fafdff;
    font-size: 18pt;
    margin: 50px;
}

p.foot1 {
    color: #fafdff;
    font-size: 14pt;
    margin: 10px;
    padding-left: 40px;
}

p#foot1 {
    margin-top: -30px;
}

hr.garisbawah {
    width: 85%;
    margin: auto;
    margin-top: 10px;
}

div.footbawah {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: auto;
}

div.grid2 {
    width: 80%;
    height: 150px;
    margin: auto;
}

.footbawah {
    line-height: 150px;
    text-align: center;
}

p.footbawah {
    color: #d6d7d8;
    font-size: 13pt;
    text-align: left;
}

h1.footbawah {
    color: #d6d7d8;
    font-family: sunday;
    font-size: 26pt;
}

/*Responsive*/
@media screen and (max-width: 1240px) {

    div.produk {
        height: 52%;
    }
}

@media only screen and (max-width: 1255px) {

    /*logo*/
    img.logo {
        width: 35px;
        margin-top: 15px;
    }

    li.telu {
        font-size: 20pt;
        margin-top: 24px;
    }

    /*pencarian*/
    input.cari {
        width: auto;
        width: 300px;
    }

    /*popup keranjang*/
    .popup_konten {
        width: 50%;
        left: 25%;
    }

    /*footer*/
    p.footbawah {
        font-size: 10pt;
    }
}

@media screen and (max-width: 1154px) {

    /*popup keranjang*/
    .popup_konten {
        width: 55%;
        left: 20%;
    }

    #icon_ket {
        height: 16px;
        width: 18px;
    }
}

@media only screen and (max-width: 1090px) {

    /*pop up notif*/
    .notif_konten {
        width: 70%;
    }
}

@media screen and (max-width: 1057px) {

    #tulis {
        font-size: 7pt;
    }

    #beli {
        font-size: 9pt;
    }
}

@media only screen and (max-width: 1040px) {

    /*popup keranjang*/
    .popup_konten {
        width: 60%;
        left: 20%;
    }

    /*footer*/
    div.foot {
        grid-template-columns: repeat(2, 1fr);
    }

    div.grid4 {
        height: 360px;
    }

    footer {
        height: 880px;
    }

    /*modal pop up*/
    .login_konten {
        width: 50%;
    }

    .register_konten {
        width: 50%;
    }
}

@media only screen and (max-width: 1025px) {

    /*logo*/
    img.logo {
        width: 0px;
    }

    li.telu {
        font-size: 0pt;
    }

    /*pencarian*/
    input.cari {
        width: auto;
        width: 280px;
        margin-left: -20px;
    }

    div.login {
        height: 40px;
        margin-top: 15px;
    }

    img.login {
        width: 35px;
        margin-top: 5px;
    }

    /*icon di navbar*/
    li.dereticon {
        margin-left: 0;
        margin-right: -5px;
    }

    /*Dropdown*/
    ul.dropdown {
        margin-top: 13px;
    }
}

@media only screen and (max-width: 935px) {

    /*popup keranjang*/
    .popup_konten {
        width: 65%;
        left: 15%;
    }

    /*footer*/
    div.grid2 {
        width: 100%;
    }

    p.footbawah {
        font-size: 9pt;
    }
}

@media screen and (max-width: 934px) {
    #harga {
        font-size: 9pt;
    }

    .total span {
        font-size: 10pt;
    }

    div.grid2 {
        width: 100%;
    }

    p.footbawah {
        font-size: 9pt;
    }

    #pertanyaan {
        font-size: 9pt;
        margin-left: 150px;
    }
}

@media screen and (max-width: 870px) {

    /*popup keranjang*/
    .popup_konten {
        width: 70%;
        left: 12%;
    }

    #tambah {
        width: 235px;
        height: 35px;
    }

    #icon_ket {
        height: 10px;
        width: 14px;
    }

    #gambar_task {
        width: 14px;
        height: 19px;
    }

    div.produk {
        height: 40%;
    }
}

@media screen and (max-width: 830px) {

    /*popup keranjang*/
    .popup_konten {
        width: 75%;
        left: 12%;
    }

    .belanja {
        margin-left: -23px;
        font-size: 15px;
    }

    .total span {
        font-size: 8pt;
    }

    #catatan {
        font-size: 10pt;
    }

    .kupon p {
        font-size: 9pt;
    }

    .form-checkbox:checked {
        margin-bottom: 6px;
    }

    #myform {
        padding: 2px;
    }
}

@media only screen and (max-width: 780px) {

    /*pop up notif*/
    .notif_konten {
        width: 80%;
    }

    /*nav*/
    nav ul {
        height: 120px;
        background: #125060;
    }

    input.cari {
        width: 650px;
    }

    li.dereticon {
        margin: auto;
    }

    .konten img {
        width: 70%;
    }

    /*modal pop up*/
    .login_konten {
        width: 60%;
    }

    .register_konten {
        width: 60%;
    }

    /*footer*/
    div.grid2 {
        width: 110%;
    }
}

@media screen and (max-width: 746px) {
    #tambah {
        width: 207px;
    }

    #myform span {
        font-size: 9pt;
    }

    input.qtyminus {
        width: 15px;
        height: 21px;
    }

    input.qtyplus {
        width: 15px;
        height: 21px;
    }

    input.qtyplus1 {
        width: 15px;
        height: 21px;
    }

    input.qtyminus1 {
        width: 15px;
        height: 21px;
    }
}

@media only screen and (max-width: 740px) {
    li.cari {
        width: 90%;
        margin: 0;
    }

    input.cari {
        width: 90%;
        margin-left: 0px;
    }
}

@media screen and (max-width: 686px) {
    .belanja {
        font-size: 12px;
    }

    #harga {
        font-size: 7pt;
    }

    .kupon p {
        font-size: 8pt;
    }

    .barang div h3 {
        font-size: 11pt;
    }

    .barang div h3 {
        font-size: 10pt;
    }

    #myform {
        margin-left: -26px;
    }

    #catatan {
        font-size: 8pt;
    }
}

@media only screen and (max-width: 650px) {

    /*popup notif*/
    div.konten_chat {
        display: grid;
        grid-template-columns: 15% 85%;
    }
}

@media only screen and (max-width: 620px) {

    /*popup notif*/
    .notif_konten {
        height: 260px;
    }

    /*modal pop up*/
    .login_konten {
        width: 70%;
    }

    .register_konten {
        width: 70%;
    }

    /*footer*/
    div.footbawah {
        grid-template-columns: repeat(1, 1fr);
    }

    div.grid2 {
        margin-left: -20px;
    }

    .pake {
        display: none;
    }

    p.footbawah {
        color: #d6d7d8;
        font-size: 13pt;
        text-align: center;
    }
}

@media only screen and (max-width: 600px) {

    /*footer*/
    p.foot1 {
        font-size: 10pt;
    }
}

@media only screen and (max-width: 540px) {

    /*modal pop up*/
    .login_konten {
        width: 80%;
    }

    .register_konten {
        width: 80%;
    }

    div.content {
        display: block;
    }

    .bayar {
        margin-top: -50px;
        margin-left: 20px;
        margin-bottom: 30px;
    }
}

@media only screen and (max-width: 490px) {

    /*notif popup*/
    .notif_konten {
        height: 270px;
    }

    div.konten_chat {
        display: grid;
        grid-template-columns: 17% 83%;
    }
}

@media screen and (max-width: 450px) {
    div.content {
        display: block;
    }

    .isi {
        height: 452px;
    }

    .bayar {
        margin-top: 40px;
        display: inline-block;
        width: 85%;
    }

    #isi {
        transform: translate(10%);
        display: inline-block;
        width: 85%;
    }

    #harga {
        font-size: 11pt;
    }

    .total span {
        font-size: 12pt;
    }

    #tambah {
        width: 169px;
        height: 23px;
    }
}

@media only screen and (max-width: 440px) {

    /*Navbar*/
    nav ul {
        height: 120px;
    }

    li.cari {
        width: 90%;
        margin: 0;
    }

    input.cari {
        width: 85%;
        margin-left: -10px;
    }

    div.dereticon {
        width: 70px;
        margin: 0;
        margin-top: 20px;
    }

    div.dereticon:hover {
        border: none;
    }

    p.nav {
        display: none;
    }

    /*modal pop up*/
    .login_konten {
        width: 90%;
    }

    .register_konten {
        width: 90%;
    }

    /*footer*/
    footer {
        height: 760px;
    }

    div.foot {
        margin: 0;
    }

    p.foot1 {
        font-size: 10pt;
        text-align: left;
    }

    div.grid2 {
        display: none;
    }

    p.footbawah {
        display: none;
    }
}

@media screen and (max-width: 400px) {

    #gambar_task {
        width: 10px;
        height: 15px;
    }

    .produk {
        width: 96%;
    }

    .qty {
        width: 23px;
    }

    .qty1 {
        width: 23px;
    }

    #catatan {
        font-size: 9pt;
        margin-left: -78px;
    }

    #tambah {
        margin-left: -78px;
    }

    .bayar {
        margin-top: 46px;
    }
}

@media only screen and (max-width: 380px) {

    /*popup notif*/
    .notif_konten {
        height: 275px;
    }

    div.konten_chat {
        display: grid;
        grid-template-columns: 20% 80%;
    }

    /*modal pop up*/
    .login_konten {
        width: 95%;
    }

    .register_konten {
        width: 95%;
    }

    /*footer*/
    footer {
        height: 1060px;
    }

    div.foot {
        grid-template-columns: repeat(1, 1fr);
    }

    div.grid4 {
        height: 300px;
        margin: auto;
    }

    p.foot1 {
        font-size: 11pt;
    }

    div.atur {
        margin-top: -100px;
    }

    div.atur2 {
        margin-top: -50px;
    }
}

@media only screen and (max-width: 350px) {

    .notif_konten {
        height: 280px;
    }

    div.konten_chat {
        grid-template-columns: 25% 75%;
    }

    .grid_chat p {
        font-size: 10pt;
    }
}